Name : Ks Jothisri

In [1]:
# Print 0 to 20 by using range

In [19]:

for rang in range(0,20):
    print (rang)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [11]:
#print range 10 to 20

In [22]:
for rang in range(10,20):
    print(rang," ",  end='')

10  11  12  13  14  15  16  17  18  19

In [23]:
#print number of items in the list by using "len"

In [69]:
li=[10, 20, 14, 55, 43, 87, 76]
print(li) 
print("Number of item in the List2:")
s = 0
for i, a in enumerate(li):
    s += 1
print(s)

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [128]:
#print list
list1=["Artificialinterlligence"]
print(''.join(list1))
#[print((i,end='') for i in list1)]
for x in list1:
    print(*x,sep="\n")

Artificialinterlligence
A
r
t
i
f
i
c
i
a
l
i
n
t
e
r
l
l
i
g
e
n
c
e

In [130]:
nam="-Your Name-"
agee="-Your Age-"
prof="-Your Profession-"
print(nam)
print(agee)
print(prof)

-Your Name-
-Your Age-
-Your Profession-

In [131]:
#print mixtured tuple

In [133]:
my_tuple=(1,'Welcome',2,"Hope")
print(my_tuple)

(1, 'Welcome', 2, 'Hope')

In [140]:
tuple1=(0,1,2,3)
tuple2=('python','HOPE')
print((tuple1,tuple2))

((0, 1, 2, 3), ('python', 'HOPE'))

In [141]:
#print Odd numbers in the list

In [147]:
list_odd=[20,10,16,19,25,1,276,188]
print(list_odd)
for i in list_odd:
    if(i%2==1):
        print(i ,"is Odd")

[20, 10, 16, 19, 25, 1, 276, 188]
19 is Odd
25 is Odd
1 is Odd

In [148]:
#print Even Numbers in the list

In [149]:
list_even=[20,10,16,19,25,1,276,188]
print(list_even)
for i in list_even:
    if(i%2==0):
        print(i ,"is Even")

[20, 10, 16, 19, 25, 1, 276, 188]
20 is Even
10 is Even
16 is Even
276 is Even
188 is Even